.landing{
  min-height: 100vh;
  background-color: #000;
  position: relative;
}
.landing #tsparticles canvas {
  min-height: 95vh !important;
}
.landing-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #151845cb;
  display: flex;
  border-radius: 10px;
}

.main-button{
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  color: #fff;
  background-color: #151845;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-button:hover{
  background-color: #001e31;
}

.landing-shiba{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.landing-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  height: 100%;
}

.landing-info img{
  width: 350px;
}
